* {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

body {
  background-color: #ce7777;
}

.hidden {
  display: none;
}

.cell {
  padding: 20px;
  height: 100px;
  width: 100px;
  border-radius: 15px;
  background-color: #e8c4c4;
  border: 3px solid #2b3a55;
}

#gridContainer {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

#crossImg {
  height: 100px;
  width: 100px;
}

#circleImg {
  height: 100px;
  width: 100px;
}

.unselectable {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

#resultBoard {
  margin: 100px;
  height: 50px;
}

#result {
  padding: 0;
  margin: 0;
  color: #f2e5e5;
  font-size: 50px;
}

#restartButtonContainer {
  margin: 50px;
  height: 1px;
}

#restartButton {
  padding: 20px;
  width: 200px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 20px;
  border: 3px solid #2b3a55;
  background-color: #e8c4c4;
}
